body {
    background-color: rgb(238, 238, 238);
}

.title {
    background-color: black;
    color: white;
    padding: 10px;
}

/* .chart {
    border-radius: 10px;
    background-color: yellow;
} */